{% extends 'layout.html.twig' %}

{% block title %}{{ employee.name }} | Edit{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset('styles/edit.css') }}">
{% endblock %}

{% block content %}
	<h1>Edit employee {{ employee.name }}</h1>
	{{ form_start(form) }}
	{{ form_widget(form) }}
	<button type="submit">Edit employee</button>
	{{ form_end(form) }}
{% endblock %}
