<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{% block title %}My USERMAP{% endblock %}</title>

	{% block stylesheets %}
		<link rel="stylesheet" type="text/css" href="{{ asset('styles/general.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('styles/font-awesome.css') }}">
	{% endblock %}

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
<header>
	<p>BI-TWA: USERMAP</p>
	<nav id="main-navigation">
		<ul>
			<li><a href="{{ path('index') }}">Homepage</a></li>
			{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
				<li><a href="{{ path('login') }}">Login</a></li>
			{% else %}
				<li><a href="{{ path('logout') }}">Logout</a></li>
			{% endif %}
		</ul>
	</nav>
</header>
<main>
	{% block content %}
	{% endblock %}
</main>
<footer>
	<p>Footer text</p>
</footer>
</body>
</html>
